<!doctype html>
<html lang="pl-PL">
<head>
<head>
  <meta charset="UTF-8">
  <title>Rejestrator 11.2.2018</title>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="//code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 </head>
  <link rel="stylesheet" type="text/css" href="static/atmospi.css">
</head>
 <body>
   
  <h2>odczyt jakości powietrza</h2>
  <div id="wskazniki" style="width: 400px; height: 120px;"></div>
  <div id="summary"></div>
  <div id="graph"></div>
  <script type="text/javascript" src="static/rafal2.js"></script>
 </body>
</html>

 